@model IEnumerable<StreamWebsite.MVC.ViewModels.UsersViewModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@*<div class="modal modal-dialog">
    <div class="modal modal-header">Recent Followers</div>
    <div class="modal modal-body">
        @foreach (var item in Model)
        {
            <div>@item.name</div>
        }
    </div>
</div>*@

<div>
    @*@foreach (var item in Model)
    {
        <div>@item.name</div>
    }*@
</div>

